*{
    margin: 0;
    padding: 0;
}
button{
    border: none;
    background-color: white;
}

input{
    border: none;
    min-width: 80px;
    outline-style: none;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

nav{
    margin: 30px;
    width: 100%;
    overflow: hidden;
    top: 0;
    background-color: white;
    position: fixed;
    z-index: 1;
}
nav img{
    height: 32px;
}
#one{
    display: flex;
    justify-content: space-between;
}

.center{
    display: flex;
    justify-content: space-between;
    width: 370px;
    border-radius: 20px;
    border: 1px solid grey;
    padding: 5px;
}
.center img{
    height: 15px;
    width: 15px;
}
.center button{
    border-right: 1px solid rgba(0, 0, 0, 0.443);
    padding-right: 10px;
    padding-left: 8px;
}
.last{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.last img{
    width: 24px;
    height: 24px;
}

.filters{
    display: flex;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    width: 100%;
    margin: 30px;
    background-color: white;
    justify-content: space-between;
    top: 100px;
}
.filters button{
    border: 1px solid rgba(0, 0, 0, 0.167);
    border-radius: 20px;
    padding: 8px;
}

.container{
    display: flex;
    flex-direction: row;
    z-index: -1;
    margin: 190px 30px 30px 30px;
}

.row div{
    margin-bottom: 20px;
}
.cards{
    width: 700px;
    display: flex;
}
.cards div{
    margin-left:20px ;
}
.heart{
    display: flex;
    justify-content: space-between;
}
#he{
    margin-left: 100px;
    
}
#imgg{
    border-radius: 20px;
}
.text{
    margin-top: 40px;
}

#las{
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
}
#aa{
  margin-left: 100px;
}

#first{
    overflow-y: scroll;
    height: 422px;
}
#first::-webkit-scrollbar {
    display: none;
}
#row{
    margin-bottom: 20px;
}

#map{
    display: block;
}


