*{
    margin: 0;
    padding: 0;
    list-style: none;
}
button{
    border: none;
    background-color: white;
}
input{
    border: none;
    outline-style: none;
    font-size: 16px;
}
.header{
    height: 750px;
    background-color: black;
}
nav{
    padding:20px 50px 30px 50px;
    display: flex;
}

li{
    color: white;
    cursor: pointer;
}
#one{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
#two{
    display: flex;
    justify-content: space-between;
    margin-left: 240px;
    width: 180px;
}
#white{
    width: 50px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

#white img{
    padding: 2px;
}


.search ul{
    display: flex;
    justify-content: space-between;
    width: 950px;
    height: 64px;
    margin: auto;
    border-radius: 27px;
    background-color: white;
}
 .search ul li{
    display: flex;
    flex-direction: column;
    color: black;
    padding: 10px;
 }
 /* .search li input{
    height: 10px;
 } */
span{
    font-size: 14px;
    color: rgba(31, 28, 28, 0.753);
}

.img img{
    width: 1112px;
    height: 540px;
    margin: 10px 50px 10px 50px ;
}
.cards{
    margin: 50px;
}
.card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card div img{
    width: 240px;
    height: 180px;
}
.text{
    height: 130px;
    color: white;
    background-color: rgb(158, 41, 123);
}
.text h4{
    font-size: 36px;
    font-weight: 500;
}
.text p{
    font-size: 16px;
    font-weight: 400;
}
.exp {
    margin: 50px;
}
.exp h4{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500;
}
.exp div img{
    width: 528px;
}

.shop{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}
.shop div h5{
    font-size: 48px;
    font-weight: 500;
}
.shop img{
    width: 550px;
    height: 250px;
    margin-right:300px ;
}
.shop button{
    background-color: black;
    margin-top: 30px;
    color:white;
    height: 35px;
    border-radius: 10px;
    width: 100px;
}
.photo {
    margin: 50px;
}
.photo h5{
    margin-top: 30px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.photo ul{
    display: flex;
    justify-content: space-between;
}

.photo li{
    color: black;
}
.photo img{
    width: 1200px;
    height: 640px;
}

table{
    font-size: 13px;
    width: 1000px;
    margin-top: 10px;
}
tr{
    padding: 20px;
}
td{
    padding: 10px;
    cursor: pointer;
}
.line{
    height: 3px;
    width: 100%;
    background-color: yellow;
}

footer{
    display: flex;

}
footer ul{
    padding: 50px;
}
footer li{
    color: black;
    padding-bottom: 15px;
}


@media screen and (max-width:320px) {
    .header{
        width: 695px;
    }
    #ss{
       display: none;
    }
#one{
    width: 300px;
}
#two{
    width: 200px;
    margin-left: 30px;
}

.search ul{
    margin: 0;
    width: 700px;
}

.search ul li{
    width: 100px;
}
#search{
    padding: 2px;
    width: 20px;
}
.img img{
    width: 580px;
}
.photo img{
    width: 320px;
}
.card{
    width: 700px;
}
.card{
display: flex;
flex-wrap: wrap;
}
.photo img{
    width: 600px;
}


  }

@media screen and (max-width:376px) {
    .header{
        width: 825px;
    }
    nav{
        margin-left: 30px;
    }
    #ss{
       display: none;
    }
#one{
    width: 300px;
}
#two{
    width: 200px;
    margin-left: 30px;
}

.search ul{
    margin: 30px;
    width: 700px;
}

.search ul li{
    width: 100px;
}
#search{
    padding: 2px;
    width: 20px;
}
.img img{
    width: 580px;
}
.photo img{
    width: 320px;
}
.card{
    width: 700px;
}
.card{
display: flex;
margin: 30px;
flex-wrap: wrap;
}
.photo img{
    width: 600px;
}
table{
    width: 700px;
}


  }

@media screen and (max-width:426px) {
    .header{
        width: 825px;
    }
    nav{
        margin-left: 30px;
    }
    #ss{
       display: none;
    }
#one{
    width: 300px;
}
#two{
    width: 200px;
    margin-left: 30px;
}

.search ul{
    margin: 30px;
    width: 700px;
}

.search ul li{
    width: 100px;
}
#search{
    padding: 2px;
    width: 20px;
}
.img img{
    width: 580px;
}
.photo img{
    width: 320px;
}
.card{
    width: 700px;
}
.card{
display: flex;
margin: 30px;
flex-wrap: wrap;
}
.photo img{
    width: 600px;
}
table{
    width: 700px;
}


  }


